/* Common shard style */
body{
        /*font-family: 'Open Sans', sans-serif;*/
    }
    .text-primary{
        color: #FD6E0A;
    }
    .btn-primary{

        background-color: #FD6E0A;
        padding: 18px 35px 19px 36px;
        color: white;
        border: 0px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 700; 
   
    }
    .nav-titl{
        color: #181818;
        font-size: 45px;
        font-weight: 800;
        line-height: normal;
        font-family: Open Sans; 
    }
nav {
        display: flex;
        justify-content: space-between;
        margin: 0px 200px 0px 200px;
        
    }
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-size: 14px;
}
nav a{
    text-decoration: none;
    color: #474747;

}
/* header related style */
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;

}
.banner .greeting-header{
font-size: 45px;
font-weight: 600; 
font-family: Open Sans; 
color: #474747;
margin-bottom: 0px;
}
.banner .greeting-header-name{
    font-size: 75px;
    font-style: normal;
    font-weight: 700; 
    font-family: Open Sans; 
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
}
.bannner-decription{
    font-family: Open Sans; 
}
/*main section styles*/
main{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* section*/
.about{
    padding:150px;
    margin:130px 0px;
    background-color: #FFF8F3;
    border-radius: 10px;

}
.section-title{
    color:  #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
/*skill related styles*/

.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.resume-container{
    display: flex;
    gap:50px;
    text-align: left;
}
footer{
    display: flex;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-icons {
    text-decoration: none;
    display: flex;
    background-color: #FFF8F3;
}