/* Common shard style */
body{
        font-family: 'Open Sans', sans-serif;
    }
    .text-primary{
        color: #FD6E0A;
    }
    .btn-primary{

        background-color: #FD6E0A;
        padding: 18px 35px 19px 36px;
        color: white;
        border: 0px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 700; 
   
    }
    .nav-titl{
        color: #181818;
        font-size: 45px;
        font-weight: 800;
        line-height: normal;
    }
nav {
        display: flex;
        justify-content: space-between;
        
        
    }
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-size: 14px;
}

nav a{
    text-decoration: none;
    color: #474747;

}
